<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.flibs">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".FlibsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.flibs.ui.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.flibs.ui.BookContentAcitivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            >
        </activity>
        <!--<activity-->
            <!--android:name="flibs.ui.CachedSerialInfoActivity"-->
            <!--android:configChanges="orientation"-->
            <!--android:launchMode="singleTask"-->
            <!--&gt;-->
        <!--</activity>-->

        <!--<activity-->
            <!--android:name="flibs.ui.EpisodeInfoActivity"-->
            <!--android:configChanges="orientation"-->
            <!--android:launchMode="singleTask"-->
            <!--&gt;-->
        <!--</activity>-->

        <!--<activity-->
            <!--android:name="flibs.ui.LoginActivity"-->
            <!--android:exported="true"-->
            <!--android:configChanges="orientation"-->
            <!--android:launchMode="singleTask"-->
            <!--&gt;-->
        <!--</activity>-->
    </application>

</manifest>